<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BetterFolderBrowser" version="1.2.0" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="3.3.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.3.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Linq" version="3.3.0" targetFramework="net48" />
  <package id="Magick.NET.Core" version="14.8.2" targetFramework="net48" />
  <package id="Magick.NET-Q16-AnyCPU" version="14.8.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="ShapeCrawler" version="0.72.0" targetFramework="net48" />
  <package id="SkiaSharp" version="3.119.0" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Linux" version="3.119.0" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.0" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.3" targetFramework="net48" />
  <package id="System.Formats.Nrbf" version="9.0.3" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="9.0.3" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="9.0.3" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.3" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>